.instagram-widget {
  margin: 0 auto;
  padding-bottom: 5px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.75);
}
.widget-header {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: none !important;
  -webkit-box-shadow: inset 0 0 100px rgba(255, 255, 255, 0), 0 1px 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0), 0 1px 0 0 rgba(0, 0, 0, 0.05);
  background: #3897f0;
  border-radius: 20px 20px 0 0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
}
.widget-header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  border-style: none;
}
.widget-header__username {
  padding-left: 15px;
  width: 35vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget-header__logo {
  margin-left: auto;
}
.widget-header__logo svg {
  fill: #ffffff;
  overflow: hidden;
  vertical-align: middle;
}
.widget-panel {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  -webkit-box-shadow: inset 0 0 100px rgba(255, 255, 255, 0), 0 1px 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 100px rgba(255, 255, 255, 0), 0 1px 0 0 rgba(0, 0, 0, 0.05);
}
.widget-panel__stats {
  width: 33.3%;
  font-size: 14px;
  font-weight: 600;
  text-align: center; 
}
.widget-panel__stats span {
  color: #999;
  font-weight: 400;
}
.widget-gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  margin: 15px;
}
@media (max-width: 850px) {
  .widget-gallery {
    grid-template-columns: auto auto auto;
  }
  .widget-gallery__caption p {
    font-size: 0.9em !important;
  }
}
@media (max-width: 600px) {
  .widget-gallery {
    grid-template-columns: auto auto;
  }
  .widget-gallery__caption p {
    font-size: 0.8em !important;
  }
}
@media (max-width: 450px) {
  .widget-gallery {
    grid-template-columns: auto;
  }
  .widget-gallery__caption p {
    font-size: 0.7em !important;
  }
  .widget-gallery__username {
    width: 35vw;
    line-height: 14px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media (max-width: 375px) {
  .widget-gallery__caption p {
    font-size: 1em !important;
  }
}
.widget-gallery__link {
  display: block !important;
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.widget-gallery__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
  vertical-align: middle;
  border-style: none;
}
.widget-gallery__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background: #000000;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.widget-gallery__caption p {
  padding: 15px;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: center;
  position: relative;
}
.widget-gallery__caption span {
  color: #eb0000;
}
.widget-gallery a:hover .widget-gallery__caption {
  opacity: 0.75;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget-button {
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;
  text-decoration: none;
  padding: 0 12px;
  cursor: pointer;
  background: #3897f0;
  color: #fff;
  -webkit-appearance: none;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .widget-button {
    width: 35vw;
  }
}
.widget-button:hover {
  background: #126fc6 !important;
  color: #ffffff;
  text-decoration: none;
}
