.preloader {
    top: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
}

.show-preloader {
    visibility: visible;
    opacity: 1;
}

#instagram-widget {
    margin: 0 auto;
    padding-bottom: 5px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.75);
}

.instagram-header {
    display: block;
    position: relative;
    border-bottom: none !important;
    -webkit-box-shadow: inset 0 0 100px rgba(255, 255, 255, 0), 0 1px 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0), 0 1px 0 0 rgba(0, 0, 0, 0.05);
    background: #3897f0;
    border-radius: 20px 20px 0 0;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
}

.instagram-header .avatar {
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
}

.instagram-header .username {
    padding-left: 15px;
}

.instagram-header .logo {
    float: right
}

.instagram-header .logo svg {
    fill: #ffffff;
    overflow: hidden;
    vertical-align: middle;
}

.instagram-panel {
    width: 100%;
    height: 60px;
    background-color: #f7f7f7;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 0 100px rgba(255, 255, 255, 0), 0 1px 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0), 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.instagram-panel .stats {
    width: 33.3%;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 15px;
    text-align: center;
}

.instagram-panel .stats span {
    color: #999;
    font-weight: 400;
}

.instagram-gallery {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
    margin: 15px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

@media (max-width: 850px) {
    .instagram-gallery {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }

    .instagram-gallery .img-desc p {
        font-size: 0.9em !important;
    }
}

@media (max-width: 550px) {
    .instagram-gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .instagram-gallery .img-desc p {
        font-size: 0.8em !important;
    }
}

@media (max-width: 400px) {
    .instagram-gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .instagram-gallery .img-desc p {
        font-size: 0.7em !important;
    }

    .instagram-header .username {
        width: 35vw;
        line-height: 14px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (max-width: 375px) {
    .instagram-gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .instagram-gallery .img-desc p {
        font-size: 1em !important;
    }
}

.instagram-gallery .mb-4,
.instagram-gallery .my-4 {
    margin-bottom: 1.5rem !important;
}

.instagram-gallery .h-100 {
    height: 100% !important;
}

.instagram-gallery .d-block {
    display: block !important;
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.instagram-gallery .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.instagram-gallery img {
    vertical-align: middle;
    border-style: none;
}

.instagram-gallery .img-desc {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    background: #000000;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.instagram-gallery a:hover .img-desc {
    display: inline;
    opacity: 0.75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.instagram-gallery .img-desc p {
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    white-space: initial;
    overflow: hidden !important;
    text-overflow: ellipsis;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.instagram-button {
    width: 150px;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
    text-decoration: none;
    padding: 0 12px;
    cursor: pointer;
    background: #3897f0;
    color: #fff;
    -webkit-appearance: none;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.instagram-button:hover {
    background: #2089eb;
    color: #ffffff;
    text-decoration: none;
}